body{
    font-family: "Arial";
    margin: 0px;
    padding: 0px;
    background-color: #eeeeee;
}

/* NAVBAR */

.navBar{
    width: 100%;
    height: 100px;
    background-color: #212121;
    -webkit-box-shadow: 0px 5px 30px 0px #777;
    -moz-box-shadow: 0px 5px 30px 0px #777;
    box-shadow: 0px 5px 30px 0px #777;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navLogo{
    white-space: nowrap;
    color: white;
    font-weight: bold;
    font-size: 1.7em;
    font-family: 'Roboto', sans-serif;
    margin-left: 1%;
}

/* END_NAVBAR */

/* CONTENT */

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    margin-top: 200px;
    margin-bottom: 200px;
    width: 90%;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    border-radius: 20px 20px 0px 0px;
}

/* STYLING_BOX_INTERNO */
.barTitle{
    color: white;
    background-color: #212121;
    font-size: 1.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 1;
    border-radius: 20px 20px 0px 0px;
}

.textTitle{
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentBox{
    background-color: #000000;
    opacity: 0.8;
    display: flex;
}

.form{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    flex-wrap: wrap;
    margin: 0px;
}

.riga1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.separator{
    height: 50px;
}

#errorMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 100%;
    color: red;
    margin-bottom: 10px;
    opacity: 0;
    font-size: 0.9em;
}

.riga2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    bottom: 0px;
}

.formPartOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formPartTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerItem{
    margin-top: 40px;
}

.formItem
{
    height: 40px;
    width: 100%;
}

p{
    margin: 0px;
}

.img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn{
    background-color: #0277bd;
    border: none;
    width: 100%;
    height: 40px;
    display: inline-block;
    border-radius: 2px;
    font-size: 0.7em;
    color: black;
    bottom: 0px;
    align-self: flex-end;
    margin-right: 5px;
    margin-bottom: 5px;
}

.btn:hover{
    background-color: white;
}
/* END_STYLING_BOX_INTERNO */

/* BACKGROUND */

.background{
    background-image: url("../img/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}

/* END_BACKGROUND */

/* END_CONTENT */

/* FOOTER */
.footer{
    width: 100%;
    height: 100px;
    background-color: #212121;
    -webkit-box-shadow: 0px -5px 30px 0px #777;
    -moz-box-shadow: 0px -5px 30px 0px #777;
    box-shadow: 0px -5px 30px 0px #777;
}
/* END_FOOTER */